<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR" name="${artifactId}-log4j2-config" xmlns="http://logging.apache.org/log4j/2.0/config">

    <!-- ========================================================== -->
    <!-- ABOUT                                                      -->
    <!-- ========================================================== -->

    <!-- This log4j2 file will create four log files:
            1. ${artifactId}-error.log - ALL application specific exceptions,
                    handled by com.shedhack.exception.controller.spring.ExceptionController.

            2. ${artifactId}-third-party.log - all third party log entries (e.g. spring), defaulted to ERROR.
            3. ${artifactId}-trace-request.log - all trace requests.
            4. ${artifactId}.log - non error logs for the application based on the package ${package}.

        All will be available (default location) at target/logs -->

    <!-- ========================================================== -->
    <!-- PROPERTIES                                                 -->
    <!-- ========================================================== -->

    <Properties>
        <!-- LOG_PATH: FIXME, possibly use system variable.
            If a sys var then modify the spring-boot plugin and run.sh -->
        <Property name="LOG_PATH">target/logs</Property>
        <Property name="LOG_PATTERN">[%-5level] %d{dd-MM-yyyy HH:mm:ss.SSS} [%t] %c - %msg%n</Property>
        <Property name="LOG_FILE_ARCHIVE_PATTERN">%d{dd-MM-yyyy}-%i</Property>
        <Property name="LOG_FILE_SIZE">25 mb</Property>
        <Property name="APPLICATION_NAME">${artifactId}</Property>
        <Property name="APPLICATION_LOG_LEVEL">info</Property> <!-- Non-error log entries -->
        <Property name="THIRD_PARTY_LOG_LEVEL">error</Property>
        <Property name="APPLICATION_PACKAGE_ROOT">${package}</Property>
    </Properties>

    <!-- ========================================================== -->
    <!-- APPENDERS                                                  -->
    <!-- ========================================================== -->

    <Appenders>

        <!-- Errors within the application - mainly via com.shedhack.exception.controller.spring.ExceptionController -->
        <RollingFile name="${APPLICATION_NAME}-error"
                     fileName="${LOG_PATH}/${APPLICATION_NAME}-error.log"
                     filePattern="${LOG_PATH}/${APPLICATION_NAME}-error-${LOG_FILE_ARCHIVE_PATTERN}.log" append="true">

            <PatternLayout>
                <pattern>${LOG_PATTERN}</pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
            </Policies>

        </RollingFile>

        <!-- Application log (non errors) for INFO, DEBUG etc -->
        <RollingFile name="${APPLICATION_NAME}"
                     fileName="${LOG_PATH}/${APPLICATION_NAME}.log"
                     filePattern="${LOG_PATH}/${APPLICATION_NAME}-${LOG_FILE_ARCHIVE_PATTERN}.log" append="true">

            <PatternLayout>
                <pattern>${LOG_PATTERN}</pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
            </Policies>

        </RollingFile>

        <!-- Audit trail, via @ThreadContext (com.shedhack.thread.context.handler) -->
        <RollingFile name="${APPLICATION_NAME}-audit"
                     fileName="${LOG_PATH}/${APPLICATION_NAME}-audit.log"
                     filePattern="${LOG_PATH}/${APPLICATION_NAME}-audit-${LOG_FILE_ARCHIVE_PATTERN}.log" append="true">

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
            </Policies>

        </RollingFile>

        <!-- Trace Request: via com.shedhack.trace.request.filter.RequestTraceFilter and provided interceptors -->
        <RollingFile name="${APPLICATION_NAME}-trace-request"
                     fileName="${LOG_PATH}/${APPLICATION_NAME}-trace-request.log"
                     filePattern="${LOG_PATH}/${APPLICATION_NAME}-trace-request-${LOG_FILE_ARCHIVE_PATTERN}.log" append="true">

            <!-- No pattern layout required -->
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
            </Policies>

        </RollingFile>

        <!-- Third party logs -->
        <RollingFile name="${APPLICATION_NAME}-third-party"
                     fileName="${LOG_PATH}/${APPLICATION_NAME}-third-party.log"
                     filePattern="${LOG_PATH}/${APPLICATION_NAME}-third-party-${LOG_FILE_ARCHIVE_PATTERN}.log" append="true">

            <PatternLayout>
                <pattern>${LOG_PATTERN}</pattern>
            </PatternLayout>

            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="${LOG_FILE_SIZE}"/>
            </Policies>

        </RollingFile>

    </Appenders>

    <!-- ========================================================== -->
    <!-- LOGGERS                                                    -->
    <!-- ========================================================== -->

    <Loggers>

        <Root level="error">
            <AppenderRef ref="${APPLICATION_NAME}"/>
        </Root>

        <!-- Application logs -->
        <Logger name="${APPLICATION_PACKAGE_ROOT}" level="${APPLICATION_LOG_LEVEL}" additivity="false">
            <AppenderRef ref="${APPLICATION_NAME}"/>
        </Logger>

        <!-- Exception controller, requires error level -->
        <Logger name="com.shedhack.exception.controller" level="error" additivity="false">
            <AppenderRef ref="${APPLICATION_NAME}-error"/>
        </Logger>

        <!-- Thread Context Aspect Audit Trail log -->
        <Logger name="com.shedhack.thread.context.handler" level="info" additivity="false">
            <AppenderRef ref="${APPLICATION_NAME}-audit"/>
        </Logger>

        <!-- Trace Request logs via request filter, requires INFO level -->
        <Logger name="com.shedhack.trace.request.filter" level="info" additivity="false">
            <AppenderRef ref="${APPLICATION_NAME}-trace-request"/>
        </Logger>

        <!-- Dependencies/external third-party logs -->

        <Logger name="com.netflix" level="${THIRD_PARTY_LOG_LEVEL}" additivity="false">
            <AppenderRef ref="${APPLICATION_NAME}-third-party"/>
        </Logger>

        <Logger name="org.springframework" level="${THIRD_PARTY_LOG_LEVEL}" additivity="false">
            <AppenderRef ref="${APPLICATION_NAME}-third-party"/>
        </Logger>

    </Loggers>
</Configuration>
